@import "tailwindcss";
@import "@v-ems/element/globals.css";
@import "@v-ems/element/theme.css";

@source "./**/*.{ts,tsx}";
@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Circular";
  src: url("./fonts/Circular-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular";
  src: url("./fonts/Circular-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular";
  src: url("./fonts/Circular-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-sans: "Circular", sans-serif;
  --default-font-family: "Circular", sans-serif;
}

html {
  font-family: "Circular", sans-serif;
}